
.paginate-main {
    margin:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.paginate-main li {
    margin-right: 0.4rem;
    font-size: 0.8rem;
    
}

.paginate-main li a {
    text-decoration: none;
}